@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

@layer base {
  h1 {
    @apply font-semibold text-[3.5rem] leading-[120%] font-serif;
  }

  h2 {
    @apply w-full text-[2.625rem] font-semibold font-serif;
  }

  h3 {
    @apply text-2xl font-semibold font-serif;
  }

  h6 {
    @apply text-lg font-normal font-sans text-primary;
  }

  p {
    @apply text-[1.25rem] font-normal font-sans leading-[150%];
  }

  a {
    @apply text-green-dark font-sans
  }

  a:hover {
    @apply underline
  }

  span {
    @apply font-sans;
  }

  li {
    @apply font-sans;
  }

  iframe {
    @apply w-screen max-w-7xl h-[65vh];
  }

  textarea {
    @apply py-3 resize-none
  }

  .input-title {
    transition: opacity 0.1s ease-in-out 0.1s ;
    color: rgba(31, 23, 18, 0.8);
    opacity: 0;
  }

  .input {
    @apply border-gray-light rounded-s px-2 py-4;
    border-radius: 5px;
  }

  .input:focus, .input:focus-within {
    padding-top: 0 !important;
    outline: gray solid 3px !important;
    outline-offset: 0 !important;
  }

  .input-container {
    transition: all 0.1s ease-in-out 0.1s;
  }

  .input:focus .input-title,
  .input:focus-within .input-title,
  .input:has(* input:not(:placeholder-shown)) .input-title,
  .input:has(* textarea:not(:placeholder-shown)) .input-title {
    opacity: 1;
  }

  .input:focus .input-title + .input-container, .input:focus-within .input-title + .input-container {
    transition: all 0.1s ease-in-out;
    height: calc(100% - 14px);
    top: 14px;
  }

  .input:has(* input:not(:placeholder-shown)), .input:has(* textarea:not(:placeholder-shown)) {
    border-color: black !important;
  }

  .input:has(* input:not(:placeholder-shown)) .input-title + .input-container, .input:has(* textarea:not(:placeholder-shown)) .input-title + .input-container {
    transition: all 0.1s ease-in-out;
    height: calc(100% - 14px);
    top: 14px;
  }

  .input svg {
    @apply h-4 w-4 opacity-70;
  }

  .input svg path {
    @apply fill-gray;
  }

  .input input, .input textarea {
    @apply h-[100%] w-[100%] grow font-sans text-sm;
    color: rgba(31, 23, 18, 0.8)
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @apply text-gray;
    opacity: 1; /* Firefox */
  }
  input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
    @apply text-gray;
    opacity: 1; /* Firefox */
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
    @apply text-gray;
    opacity: 1; /* Firefox */
  }
  input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
    @apply text-gray;
    opacity: 1; /* Firefox */
  }

  input:disabled::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @apply text-gray-light;
  }
  input:disabled::-moz-placeholder, textarea:disabled::-moz-placeholder { /* Firefox 19+ */
    @apply text-gray-light;
  }
  input:disabled:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* IE 10+ */
    @apply text-gray-light;
  }
  input:disabled:-moz-placeholder, textarea:disabled:-moz-placeholder { /* Firefox 18- */
    @apply text-gray-light;
  }

  input:invalid::-webkit-input-placeholder, textarea:invalid::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @apply text-red;
  }
  input:invalid::-moz-placeholder, textarea:invalid::-moz-placeholder { /* Firefox 19+ */
    @apply text-red;
  }
  input:invalid:-ms-input-placeholder, textarea:invalid:-ms-input-placeholder { /* IE 10+ */
    @apply text-red;
  }
  input:invalid:-moz-placeholder, textarea:invalid:-moz-placeholder { /* Firefox 18- */
    @apply text-red;
  }

  .input:has(* input:invalid) .input-container, .input:has(* textarea:invalid) .input-container {
    @apply text-red;
  }

  .input:has(* input:invalid) .input-title, .input:has(* textarea:invalid) .input-title {
    @apply text-red
  }

  .input:has(* input:invalid), .input:has(* textarea:invalid) {
    @apply border-red outline-red-light !important;
  }
  
  .input:has(* input:disabled) svg path, .input:has(* textarea:disabled) svg path {
    @apply fill-gray-light;
  }

  .input:has(* input:invalid) svg path, .input:has(* textarea:invalid) svg path {
    @apply fill-red
  }
}