@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-hero {
    clip-path: circle(107% at 0 50%);
  }
  .clip-hero-left {
    clip-path: circle(107% at 100% 50%);
  }
  .clip-hero-small {
    clip-path: circle(98% at 0 50%);
  }
  .clip-hero::after {
    display: none;
  }
  .clip-hero-left::after {
    display: none;
  }
  .clip-hero-small::after {
    display: none;
  }
  .clip-hero-mobile::after {
    @apply bg-primary;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    clip-path: ellipse(50% 50% at 50% 0%);
  }
}

#__next {
  min-height: 100%;
}

@layer base {
  body {
    overflow-x: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold font-serif;
  }

  h1 {
    @apply leading-[120%] text-[2.5rem] lg:text-[4rem];
  }

  h2 {
    @apply w-full text-[2rem] lg:text-[3.5rem];
  }

  h3 {
    @apply text-2xl lg:text-[3rem];
  }

  h4 {
    @apply text-[2.5rem]
  }

  h5 {
    @apply text-[2rem]
  }

  h6 {
    @apply text-[1.75rem]
  }

  h6 {
    @apply text-lg font-normal font-sans text-primary;
  }

  p {
    @apply text-[1.25rem] font-normal font-sans leading-[150%];
  }

  a {
    @apply text-green-dark font-sans
  }

  a:hover {
    @apply underline
  }

  span {
    @apply font-sans;
  }

  li {
    @apply font-sans;
  }

  iframe {
    @apply w-screen max-w-7xl h-[65vh];
  }

  textarea {
    @apply py-3 resize-none
  }

  .input-title {
    transition: opacity 0.1s ease-in-out 0.1s ;
    color: rgba(31, 23, 18, 0.8);
    opacity: 0;
  }

  .input {
    @apply border-gray-dark rounded-s px-2 py-4;
    border-radius: 5px;
  }

  .input:focus, .input:focus-within {
    padding-top: 0 !important;
    outline: gray solid 3px !important;
    outline-offset: 0 !important;
  }

  .input:focus.input-error, .input:focus-within.input-error {
    @apply outline-red-light !important
  }

  .input-container {
    transition: all 0.1s ease-in-out 0.1s;
  }

  .input:focus .input-title,
  .input:focus-within .input-title,
  .input:has(* input:not(:placeholder-shown)) .input-title,
  .input:has(* textarea:not(:placeholder-shown)) .input-title {
    opacity: 1;
  }

  .input:focus .input-title + .input-container, .input:focus-within .input-title + .input-container {
    transition: all 0.1s ease-in-out;
    height: calc(100% - 14px);
    top: 14px;
  }

  .input:has(* input:not(:placeholder-shown)), .input:has(* textarea:not(:placeholder-shown)) {
    border-color: black !important;
  }

  .input:has(* input:not(:placeholder-shown)) .input-title + .input-container, .input:has(* textarea:not(:placeholder-shown)) .input-title + .input-container {
    transition: all 0.1s ease-in-out;
    height: calc(100% - 14px);
    top: 14px;
  }

  .input svg {
    @apply h-4 w-4 opacity-70;
  }

  .input svg path {
    @apply fill-gray;
  }

  .input input, .input textarea {
    @apply h-[100%] w-[100%] grow font-sans text-sm;
    color: rgba(31, 23, 18, 0.8)
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @apply text-gray-dark;
    opacity: 1; /* Firefox */
  }
  input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
    @apply text-gray-dark;
    opacity: 1; /* Firefox */
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
    @apply text-gray-dark;
    opacity: 1; /* Firefox */
  }
  input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
    @apply text-gray-dark;
    opacity: 1; /* Firefox */
  }

  input:disabled::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @apply text-gray;
  }
  input:disabled::-moz-placeholder, textarea:disabled::-moz-placeholder { /* Firefox 19+ */
    @apply text-gray;
  }
  input:disabled:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* IE 10+ */
    @apply text-gray;
  }
  input:disabled:-moz-placeholder, textarea:disabled:-moz-placeholder { /* Firefox 18- */
    @apply text-gray;
  }
  
  .input:has(* input:disabled) svg path, .input:has(* textarea:disabled) svg path {
    @apply fill-gray;
  }
}